<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dda76f">  <td>16/10/18 15:52:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite.input_Phonenumber()[pri:0, instance:testrun.TestSuite@3170679d]">input_Phonenumber</td> 
  <td>main@1472829855</td>   <td></td> </tr>
<tr bgcolor="dda76f">  <td>16/10/18 15:52:28</td>   <td>9806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite.openApp()[pri:0, instance:testrun.TestSuite@3170679d]">openApp</td> 
  <td>main@1472829855</td>   <td></td> </tr>
</table>
